body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8e1;
    color: #4d0000;
    font-size: 16px;
    overflow-y: auto;
}

header {
    background-color: #ffcc00; 
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #ea0909;
    font-size: 2.5em;
    margin-bottom: 20px;
}

main {
    padding: 20px;
    text-align: center;
    min-height: 100vh;
}

.introduction h2 {
    color: #333; 
    font-size: 2em;
    margin-bottom: 10px;
}

.introduction p {
    font-size: 1.2em;
    margin: 10px 0;
}

.welcome-image img {
    max-width: 80%;
    height: auto;
    margin-top: 20px;
    border: 5px solid #b22222;
}

button {
    background-color: #e6ea09;
    color: rgba(215, 21, 21, 0.697);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
}

footer {
    background-color: #ffcc00;
    color: #4d0000;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative;
}
